body{
    background-color: rgba(218, 222, 224, 0.461);
    font-family: Arial, sans-serif;
    color: rgba(215, 224, 177, 0.932);
    margin: 0;
    padding: 0;
}
.nav{
    display: block;
    justify-content: center;
    color: rgba(97, 47, 4, 0.932);
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}
  
.spend{
            width: 300px;
            height: 100px;
            text-align: center;
            display: inline-block;
            margin: 100px;
            margin-top: 3px;
            margin-bottom: 20px;
            gap: 20px;
            justify-content: center;
            border: 1px solid black;
            border-radius: 10px;
            align-items: center;
        }
.spend-separate{
    color: #68c020;
   border: 1px solid rgb(105, 239, 74);
   border-radius: 50px;
    width: 1fr;
    padding: 20px;
    background-color: rgba(75, 225, 115, 0.395);
}
.spend-chart{
    font-weight: bold;
    display:flex;
    flex-direction: column;
    color: #1d1313da;
    border: 1px solid rgb(218, 238, 216);
    border-radius: 10px;
    background-color: rgba(211, 245, 212, 0.509);
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    width: 1fr;
}
.price{
    margin-left: 800px;
    font-weight: bold;
}
.amount{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1fr;
}
